<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>THIS IS A TEST</title>
    <link rel="stylesheet" type="text/css" href="index.css">
</head>

<body>
    <div class="App">
        <header class="App-header">
            <img src="hello_world.jpg" alt="Hello World" class="fade-in" />
            <p>This is a test server: {{ message }}</p>
        </header>
    </div>
</body>

</html>